#vlightbox { width:100%;height:355px; }
#vlightbox span{ display:block; }
#vlightbox a{ display:block; float:left;width:225px; height:160px; margin:3px 1px; padding:6px; border:solid 1px #b8b8b8;
background-color:#f4f5f5;opacity:0.87; }
#vlightbox a img{ display:block; border:none; margin:0px; }
#vlightbox a:hover{ opacity:1; }
#vlightbox a.vlightbox_hidden{ display:none; }
#vlightbox a img { border:medium none; margin:0 auto;width:214px; height:150px; }





#vlightbox2 { width:100%;height:355px; }
#vlightbox2 span{ display:block; }
#vlightbox2 a{ display:block; float:left; margin: 8px; padding:6px; border:solid 1px #b8b8b8;
background-color:#f4f5f5;opacity:0.87; }
#vlightbox2 a img{ display:block; border:none; margin:0px; }
#vlightbox2 a:hover{ opacity:1; }
#vlightbox2 a.vlightbox_hidden{ display:none; }
#vlightbox2 a img { border:medium none; margin:0 auto;width:335px; height:240px; }





@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#vlightbox { width:100%;height:355px; }
#vlightbox span{ display:block; }
#vlightbox a{ display:block; float:left;width:151px; height:120px; margin:3px 1px; padding:6px; border:solid 1px #b8b8b8;
background-color:#f4f5f5;opacity:0.87; }
#vlightbox a img{ display:block; border:none; margin:0px; }
#vlightbox a:hover{ opacity:1; }
#vlightbox a.vlightbox_hidden{ display:none; }
#vlightbox a img { border:medium none; margin:0 auto;width:135px; height:104px; }


}